@page "/setup/activities" 
@inject Data Data 

<h3>Activities</h3>
<p>Use activities to define the things your teams do, for instance <strong>design</strong>, <strong>develop</strong>, and <strong>deploy</strong></p>

<ErrorMessage/>



@code {

}
