@page "/setup/folders"

<h3>Folders</h3>
<p>Use folders to group your work items in ways that make sense to your organization.</p>
<p>A typical hierarchy might be <strong>Team</strong> -> <strong>Application</strong> -> <strong>Project</strong></p>

@code {

}
