@inherits LayoutComponentBase
@layout MainLayout

<div class="row">
    <div class="col-2">
       <ul class="nav justify-content-start">
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/subscription">
                    <i class="fad fa-key"></i> Subscription
                </NavLink>
           </li>
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/users" Match="NavLinkMatch.All">
                    <i class="fad fa-user-friends"></i> Users
                </NavLink>
           </li>
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/folders">
                    <i class="fad fa-folders"></i> Folders
                </NavLink>
           </li>
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/labels">
                    <i class="fad fa-tags"></i> Labels
                </NavLink>
           </li>
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/activities">
                    <i class="fas fa-forward"></i> Activities
                </NavLink>
           </li>
           <li class="nav-item">
               <NavLink class="nav-link" href="/setup/iterations">
                    <i class="fad fa-calendar-week"></i> Iterations
                </NavLink>
           </li>
       </ul>
    </div>

    <div class="col-10">
        @Body
    </div>

</div>
